body{
    background-color: rgb(247, 216, 221);
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content_paypal a{
  color: #fa7c91;
}